@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}

.container {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  position: relative;
  padding: 50px 100px;
  background: #111;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.logo-full {
  position: relative;
  font-size: 2em;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  border-left: 5px solid #cc0000;
  padding-left: 10px;
  animation: left-in 0.5s ease-in forwards;
  animation-delay: 0s;
  opacity: 0;
}

.logo-short {
  position: relative;
  font-size: 2em;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  border-left: 5px solid #cc0000;
  padding-left: 10px;
  animation: left-in 0.5s ease-in forwards;
  animation-delay: 0s;
  opacity: 0;
  display: none;
}

.container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.15;
  pointer-events: none;
}

.container .textBoxContent {
  position: relative;
  max-width: 600px;
  z-index: 2;
  animation: left-in 0.5s ease-in forwards;
  opacity: 0;
}
.container .textBoxContent h2 {
  color: #fff;
  font-size: 3em;
}

.container .textBoxContent p {
  color: #fff;
  font-size: 1.1em;
  margin: 5px 0 25px;
}

.short-description {
  display: none;
}

.container .textBoxContent a {
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  background: #cc0000;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.95em;
  font-weight: 700;
  letter-spacing: 2px;
}

.container .textBoxContent a:hover {
  background-color: #fff;
  color: #cc0000;
  transition: 0.3s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes left-in {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@media (max-width: 695px) {
  .logo-full {
    font-size: 1.5em;
    letter-spacing: 1.5px;
    border-left: 3px solid #cc0000;
    padding-left: 8px;
    display: none;
  }
  .logo-short {
    display: inline-block;
  }
  .container {
    padding: 50px 50px;
  }
  .container video {
    object-fit: contain;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0s;
    opacity: 0;
  }
  .container .textBoxContent h2 {
    color: #fff;
    font-size: 2em;
  }

  .container .textBoxContent p {
    color: #fff;
    font-size: 0.95em;
    margin: 5px 0 15px;
  }

  .container .textBoxContent a {
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-align: center;
  }
  .full-description {
    display: none;
  }
  .short-description {
    display: inline-block;
  }

  .container video {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: contain;
    opacity: 0.8;
    pointer-events: none;
  }
}
